* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Lato";
    font-weight: 600;
    font-size: 10px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.small-container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}